h1{color:#9D6FD9; text-align:center}
h2{color:#FFFFFF; text-align:center; font-size:25pt}
h3{color:#FFFFFF;font-size:12.5pt}
table {
        border:2px solid white;
        width: 100%;
        text-align: center;
    }

    td{
        padding: 10px;
    }

    a {
        display:inline-block;
        border: 1px solid white;
        padding: 8px;
        text-decoration: none;
        color: white;
    }

    a:hover {
        background-color:#FFADC9;
    }

    img {
        display:block;
        margin: auto;
        border: 1px solid black;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }